#wrapper {
  margin-right:auto;
  height:1090px;
  /*width:1185px;*/
  border:solid 5px #fff;
  box-shadow:0 1px 2px #aaa;
  border-radius:3px;
  margin-top:1rem
}

#login-toggle{
      position: absolute;
    left: 1000px;
    top: 100px;
}

#home {
  background:url(../images/00-homepage.jpg) no-repeat;
  height:100%;
  width:100%;
}

#bio {
  background:url(../images/02-bio.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}

#news {
  background:url(../images/03-news.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}

#shows {
  background:url(../images/04-shows.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}

#music {
  background:url(../images/05-music.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}

#photos {
  background:url(../images/06a-photos-or-videos.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}
#lightbox {
  background:url(../images/06b-lightbox.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}


#store {
  background:url(../images/07-store.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}
#contact {
  background:url(../images/08a-contact.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}
#contact-send {
  background:url(../images/08b-contact-send.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}
#logged-in {
  background:url(../images/10-admin-main-menu.jpg) no-repeat;
  height:100%;
  width:100%;
  display: none;
}



.link {
  opacity: .5;
  background-color: pink;
  position:absolute;
}

#link-bio {
  height: 26px;
  width: 219px;
  top: 390px;
  left: 80px;
}

#link-news {
  height: 26px;
  width: 219px;
  top: 415px;
  left: 80px;
}

#link-shows {
  height: 26px;
  width: 219px;
  top: 440px;
  left: 80px;
}

#link-music {
  height: 26px;
  width: 219px;
  top: 470px;
  left: 80px;
}

#link-photos {
  height: 26px;
  width: 219px;
  top: 500px;
  left: 80px;
}

#link-store {
  height: 26px;
  width: 219px;
  top: 524px;
  left: 80px;
}

#link-contact {
  height: 26px;
  width: 219px;
  top: 550px;
  left: 80px;
}

#link-send {
  height: 40px;
  width: 111px;
  top: 635px;
  left: 812px;
}
#link-lightbox {
  height: 300px;
  width: 220px;
  top: 130px;
  left: 770px;
}
#link-lightbox-close {
  height: 100%;
  width: 100%;
}
#link-login {
  height: 45px;
  width: 60px;
  top: 965px;
  left: 40px;
}






